<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AI4B Pratilipi</title>
	<!-- production version, optimized for size and speed -->
	<script defer src="https://use.fontawesome.com/6da64fcf5b.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
  <!-- <script src="require.js"></script> -->
  <script src="bulma-extensions/dist/js/bulma-extensions.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="bulma-extensions/dist/css/bulma-extensions.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js"></script>
  <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
  
  <script type="application/javascript" src="Indic-Input-Tool-UI/quill-auto-complete/docs/quill.mention.min.js"></script>
  <link href="Indic-Input-Tool-UI/quill-auto-complete/docs/quill.mention.min.css" rel="stylesheet">

  <script type="application/javascript" src="Indic-Input-Tool-UI/js/api.js"></script>
  <script type="application/javascript" src="Indic-Input-Tool-UI/js/utils.js"></script>
  <script type="application/javascript" src="Indic-Input-Tool-UI/js/DynamicQuillTools.js"></script>

  <script src="Indic-Input-Tool-UI/js/editor.js"></script>

</head>
<body>
  <div class="container">
	<section class="section has-text-centered is-mobile" id="app">
		<figure class="image is-64x64 is-centered">
			<img src="logo.png">
		</figure>
		<h1 class="title is-1" style="color: #E78A28">
			AI4Bharat Pratilipi
    </h1>
		<p class="subtitle">
			Transcribe your videos and translate it to Indic languages.
		</p>

		<hr>
    <br>

    <div class="steps">
      <div class="step-item" v-bind:class="{ 'is-active': isActive1, 'is-success': isSuccess1 }">
        <div class="step-marker">1</div>
        <div class="step-details">
          <p class="step-title">Transcribe Video</p>
        </div>
      </div>
      <div class="step-item" v-bind:class="{ 'is-active': isActive2, 'is-success': isSuccess2 }">
        <div class="step-marker">2</div>
        <div class="step-details">
          <p class="step-title">Edit Transcription</p>
        </div>
      </div>
      <div class="step-item" v-bind:class="{ 'is-active': isActive3, 'is-success': isSuccess3 }">
        <div class="step-marker">3</div>
        <div class="step-details">
          <p class="step-title">Translate</p>
        </div>
      </div>
      <div class="step-item" v-bind:class="{ 'is-active': isActive4, 'is-success': isSuccess4 }">
        <div class="step-marker">4</div>
        <div class="step-details">
          <p class="step-title">View Captions</p>
        </div>
      </div>
    </div>

    <div v-if="process">
      <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <h4 class='is-title-4'>Please wait. Processing..</h4>
      <progress class="progress is-small is-warning" max="100">15%</progress>
        </div>
      </div>
    </div>
    
    <!-- <hr> -->

    <div class="modal" v-bind:class="{ 'is-active': isFeedbackActive }">
      <div class="modal-background" v-on:click="cancel_feedback"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Share Feedback</p>
          <button class="delete" aria-label="close" v-on:click="cancel_feedback"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">What do you want to give feedback for?</label>
            <div class="control">
              <div class="select">
                <select v-model="feedback_type">
                  <option>Speech Transcription Model</option>
                  <option>Translation Model</option>
                  <option>Translitration Model</option>
                  <option>User Interface</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">How was your experience?</label>
            <div class="control">
              <div class="select">
                <select v-model="feedback_rating">
                  <option>Great</option>
                  <option>Good</option>
                  <option>Neutral</option>
                  <option>Bad</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="field">
            <label class="label">Feedback</label>
            <div class="control">
              <textarea class="textarea" v-model="feedback_text" placeholder="Enter your feedback here"></textarea>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-link" v-on:click="submit_feedback">Submit</button>
          <button class="button" v-on:click="cancel_feedback">Cancel</button>
        </footer>
      </div>
    </div>

    <div v-if="this.pagestate == '1'">

              <div v-if="this.submitted">
                <h5 class="title is-5">Video Preview:</h5>
                <!-- <iframe style="width:100h;height:60h" src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe> -->
                <!-- <audio controls>
                  <source v-bind:src="audio_url" type="audio/wav">
                Your browser does not support the audio element.
                </audio> -->
                <video controls="controls" id="video1" width="450">
                    <source v-bind:src="video_url" type="video/mp4" />
                </video>
                <br><br>
          
                <div class="field is-grouped is-grouped-centered">
                  <div class="control">
                  <button class="button is-link is-medium" v-on:click="transcribe">Transcribe</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light is-medium" v-on:click="clear">Clear</button>
                </div>
                </div>
                <hr>
              </div>

              <br><br><br>

              <div class="columns">
                <div class="column is-three-fifths is-offset-one-fifth">
          
                  <h3 class="title is-4">Paste the youtube URL of your video here:</h3>
                  
                  <div class="field has-addons is-horizontal has-addons-centered">
                    <div class="control is-expanded">
                      <input class="input is-medium" v-model="yt_url" type="text" placeholder="https://www.youtube.com/">
                    </div>
                    <div class="control">
                      <a class="button is-link is-medium" v-on:click="submitURL">
                        Submit
                      </a>
                    </div>
                  </div>
          
                  
                  <div class="is-divider" data-content="OR"></div>
                  
                  <h3 class="title is-4">Select a video: </h3>
                  <p>Tip: You can preview the video when you click the link.</p>
                  <br>

                  <div class="block" v-for="url in sample_urls">
                    <button class="button is-medium is-fullwidth" v-on:click="submitSampleURL(url)">{{ url }}</button>
                  </div>
                  

                </div>

              </div>
          
              <br>

    </div>

    <div v-else-if="this.pagestate == '2'">
            <br>

            <div class="columns">
              <div class="column is-three-fifths is-offset-one-fifth">

                <h5 class="title is-5">Audio Preview:</h5>
                <audio controls>
                  <source v-bind:src="audio_url" type="audio/wav">
                Your browser does not support the audio element.
                </audio>
                <br><br>

                <div v-if="!process">

                <h3 class="title is-4">Transcription of the audio:</h3>
                <p>Tip: You can now manually edit the transcriptions for any mistakes.</p> <br>

                

                  <div class="field has-addons is-horizontal has-addons-centered">
                    <div class="control is-expanded">
                      <textarea class="textarea" placeholder="10 lines of textarea" rows="10" v-model="transcription"></textarea>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <br>

            <div v-if="!process">

              <div class="field is-horizontal is-grouped is-grouped-centered">
                <p class="control">
                  &nbsp;
                  <span class="tag is-rounded">Translate to</span>
                  <div class="select is-rounded">
                    <select class="select is-rounded" v-model="target_language">
                      <option v-for="option in target_options" v-bind:value="option">
                      {{ option }}
                      </option>
                    </select>
                  </div>
                </p>
                </div>

                <br>
                <div class="field is-grouped is-grouped-centered">
                  <div class="control">
                  <button class="button is-link is-medium" v-on:click="translate">Translate</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light is-medium" v-on:click="back">Go Back</button>
                </div>
                </div>
            
            </div>
          
    </div>



    <div v-else-if="this.pagestate == '3'">
          <br>

          <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">

              <h5 class="title is-5">Audio Preview:</h5>
              <audio controls>
                <source v-bind:src="audio_url" type="audio/wav">
              Your browser does not support the audio element.
              </audio>
                <br><br>

                <h3 class="title is-4">Translated text:</h3>
                <p>Tip: You can type the text in English and we will transliterate it.</p> <br>
                <div class="field has-addons is-horizontal has-addons-centered">
                  <div class="control is-expanded">
                    <!-- <textarea class="textarea" placeholder="10 lines of textarea" rows="10">{{ translation }}</textarea> -->
                    <div id="editor" style="height: 500px"></div>
                  </div>
                </div>
                <br>         

            </div>
          </div>

          <br>

          <div v-if="!process">
            <div class="field is-grouped is-grouped-centered">
              <div class="control">
              <button class="button is-link is-medium" v-on:click="generate_captions">Generate Captions</button>
            </div>
            <div class="control">
              <button class="button is-link is-light is-medium" v-on:click="back_2">Go Back</button>
            </div>
            </div>
          </div>

    </div>

    <div v-else-if="this.pagestate == '4'">
          <br>

          <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">

              <h3 class="title is-4">Output: Video with Captions</h3>

              <video controls="controls" id="video_output" width="450">
                  <source v-bind:src="video_url" type="video/mp4" />
                  <track v-bind:src="window.URL.createObjectURL(this.vttBlob)" id="video_track" kind="subtitles" default/>
              </video>
          
          <br><br><br>

            <div class="field is-grouped is-grouped-centered">
              <div class="control">
              <button class="button is-link is-medium" v-on:click="download_captions">Download Captions</button>
            </div>
            <!-- <div class="control">
              <button class="button is-link is-light is-medium" v-on:click="back_3">Go Back</button>
            </div> -->
            <div class="control">
              <button class="button is-link is-light is-medium" v-on:click="back_4">Go to Step 1</button>
            </div>
            </div>

          </div>
          </div>
    </div>

  <!-- ############################################################################## -->
  
  <br>
  <div class="field is-grouped is-grouped-centered">
      <div class="control">
      <button class="button is-link is-medium is-outlined" v-on:click="activate_feedback">Share Feedback</button>
    </div>
  </div>

  </section>
  </div>

  <br><br>
  

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Developed by <a href="https://ai4bharat.org/" target="_blank">AI4Bharat</a> <br>
        Tools used for this demo - 
        <a href="https://github.com/AI4Bharat/IndicWav2Vec" target="_blank">IndicWav2Vec</a> |
        <a href="https://github.com/AI4Bharat/indicTrans" target="_blank">IndicTrans</a> |
        <a href="https://github.com/AI4Bharat/indic-xlit" target="_blank">IndicXlit</a>
    </div>
  </footer>
</body>

<!-- inserting these scripts at the end to be able to use all the elements in the DOM --> 
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>

<script>
  
	var app = new Vue({
		el: '#app',
		data: {
			yt_url: '',
      process: false,
      video_url: '',
      audio_url: '',
      sample_urls: [
        'https://youtu.be/XAOA3xYU7_M',
        'https://youtu.be/h2GniNRUkek',
        'https://youtu.be/sD-uDZ8zXkc',
        'https://youtu.be/sD-uDZ8zXkc',
        'https://youtu.be/X7qv4BcBfyQ',
      ],
			transcription: '',
      translation: '',
      transcription_data: null,
      submitted: false,
      pagestate: '1',
      isActive1: true,
      isActive2: false,
      isActive3: false,
      isActive4: false,
      isSuccess1: false,
      isSuccess2: false,
      isSuccess3: false,
      isSuccess4: false,
      isFeedbackActive: false,
      feedback_type: null,
      feedback_rating: '',
      feedback_text: '',
      language_dict: {
          'Assamese': 'as',
          'Hindi' : 'hi',
          'Marathi' : 'mr',
          'Tamil' : 'ta',
          'Bengali' : 'bn',
          'Kannada' : 'kn',
          'Oriya' : 'or',
          'Telugu' : 'te',
          'Gujarati' : 'gu',
          'Malayalam' : 'ml',
          'Punjabi' : 'pa',
      },
			target_language: 'Hindi',
      target_options: ['Assamese', 'Hindi', 'Marathi', 'Tamil', 'Bengali', 'Kannada', 'Oriya', 'Telugu', 'Gujarati', 'Malayalam', 'Punjabi'],
      vttBlob: null,
    },
    methods: {
      submitURL: function(){
        console.log(this.yt_url);
        this.process_audio(this.yt_url);
      },
      submitSampleURL: function(url){
        console.log(url);
        this.process_audio(url);
      },
      process_audio: function(url){
        let formData = new FormData();
        this.process = true;
        formData.append('url', url);
        console.log(formData);
        console.log(url);
        axios.post('http://164.52.218.27:5000/download_video_to_local',
            formData, {
						headers: {
							'Content-Type': 'multipart/form-data'
						}
				})
				.then(response => {
					console.log(response.data)
          this.transcription_data = response.data
					this.process=false
          this.submitted = true
          this.video_url= response.data.video_url
          this.audio_url= 'http://164.52.218.27:5000/'+response.data.audio_url
				})
      },
      // transcribe: function(){
      //   this.callTranscribeAPI();
      // },
      transcribe: function(){
        console.log("Transcribing..");
        this.pagestate = '2';
        this.process = true;
        console.log(this.transcription_data);
        this.transcription_data.chunk_size = 7;
        axios.post('http://164.52.218.27:5000/transcribe_local_audio',
            this.transcription_data, {
						headers: {
							'Content-Type': 'application/json'
						}
				})
        .then(response => {
          // handle success
          console.log(response.data)
          this.transcription = response.data.output
          console.log(this.transcription)
          this.isActive1 = false
          this.isSuccess1 = true
          this.isActive2 = true
          this.process = false
        })
      },
      clear: function(){
        this.submitted = false;
        this.yt_url = '';
      },
      translate: function(){
        this.pagestate = '3';
        this.isActive2 = false;
        this.isSuccess2 = true;
        this.isActive3 = true;
        console.log("Translating..");
        this.process = true;
        // console.log(this.transcription);
        let formData = new FormData();
        formData.append('model_type', 'en-indic');
				formData.append('source_language', 'English');
				formData.append('target_language', this.target_language);
				formData.append('text', this.transcription);
        axios.post('http://164.52.218.27:5050/translate_vtt',
						formData, {
						headers: {
							'Content-Type': 'multipart/form-data'
						}
				})
				.then(response => {
					// console.log(response.data.text)
					this.translation=response.data.text
					this.transcription_time = 'The inference took '+response.data.duration+' seconds.'
					this.process=false
          setupQuillEditor()
          QUILL_EDITOR.root.innerHTML = this.translation
          localStorage.setItem('lang', this.language_dict[this.target_language])
          localStorage.setItem('lang_label', this.target_language)
				})
				.catch(error =>  {
					console.log(error);
					this.translation='Please check console'
					this.process=false
				});
      },
      generate_captions: function(){
        this.translation = QUILL_EDITOR.getText();
        this.vttBlob = new Blob([this.translation], {
            type: 'text/vtt'
        });
        this.pagestate = '4';
        this.isActive3 = false;
        this.isSuccess3 = true;
        this.isActive4 = true;
        console.log(this.vttBlob);
        // track_element = document.getElementById("video_track");
        // console.log(track_element);
        // track_element.src = 
      },
      download_utility: function(filename, text){
        
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        element.setAttribute('download', filename);
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
      },
      download_captions: function(){
        console.log("DOwnloading captions");
        // Start file download.
        this.download_utility("transcription.vtt", this.translation);
      },
      back: function(){
        this.clear();
        this.pagestate = '1';
        this.isActive1 = true;
        this.isSuccess1 = false;
        this.isActive2 = false;
        this.process = false;
      },
      back_2: function(){
        this.pagestate = '2';
        this.isActive2 = true;
        this.isSuccess2 = false;
        this.isActive3 = false;
        this.process = false;
      },
      back_3: function(){
        this.pagestate = '3';
        this.isActive3 = true;
        this.isSuccess4 = false;
        this.isActive4 = false;
        this.process = false;
      },
      back_4: function(){
        this.clear();
        this.pagestate = '1';
        this.isActive1 = true;
        this.isSuccess1 = false;
        this.isSuccess2 = false;
        this.isSuccess3 = false;
        this.isSuccess4 = false;
        this.isActive4 = false;
        this.transcription =  '';
        this.translation =  '';
        this.transcription_data = null;
        this.vttBlob = null;
        this.yt_url = '';
        this.video_url = '';
        this.process = false;
      },
      submit_feedback: function(){
        console.log("Feedback Submitted");
        let formData = new FormData();
        formData.append('feedback_type', this.feedback_type);
        formData.append('feedback_rating', this.feedback_rating);
        formData.append('feedback_text', this.feedback_text);
        console.log(formData);
        axios.post('http://164.52.218.27:6070/feedback',
            formData, {
						headers: {
							'Content-Type': 'multipart/form-data'
						}
				})
        .then(response => {
					this.isFeedbackActive = false
				})
      },
      cancel_feedback: function(){
        console.log("Feedback Canceled");
        this.isFeedbackActive = false;
      },
      activate_feedback: function(){
        console.log("Feedbaack activated");
        this.isFeedbackActive = true;
      },
    }
	})
</script>

</html>