DEBUG=true
SECRET_KEY=
ALLOWED_HOSTS=
FRONTEND_URL=
DOMAIN=

ENABLE_CORS=true
CORS_TRUSTED_ORIGINS=

POSTGRES_DB_NAME='postgres' # Insert your database name here
POSTGRES_DB_USERNAME='postgres' # Insert your PostgreSQL username here
POSTGRES_DB_PASSWORD='password' #Insert your PostgreSQL password here.
POSTGRES_DB_HOST='db'
POSTGRES_DB_PORT='5432'

DEFAULT_FROM_EMAIL=
EMAIL_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=

CELERY_BROKER_URL="redis://redis:6379"
# FLOWER_BASIC_AUTH=username:password
FLOWER_URL="http://flower:5555"

DHRUVA_KEY=""
# ASR_API_URL=""
ENGLISH_ASR_API_URL=""
INDIC_ASR_API_URL=""
SERVICE_ID_HINDI=""
SERVICE_ID_INDO_ARYAN=""
SERVICE_ID_DRAVIDIAN=""
NMT_API_URL=""
MISC_TTS_API_URL=""
INDO_ARYAN_TTS_API_URL=""
DRAVIDIAN_TTS_API_URL=""
TRANSLITERATION_URL=""
ALIGN_JSON_URL=

AZURE_STORAGE_ACCOUNT_KEY=""
AZURE_STORAGE_CONNECTION_STRING=""
AZURE_STORAGE_CONTAINER_NAME=""

YOUTUBE_API_KEY=""
