Django==4.1.5
djangorestframework==3.13.1
django-cors-headers>=3.13
django-import-export
django-smtp-ssl
python-dotenv==0.20.0
yt-dlp>=2023.3.4
requests==2.25.1
webvtt-py==0.4.6
psycopg2-binary>=2.9
drf-yasg==1.21.3
mutagen==1.45.1
djoser
boto3>=1.24
click>=8.1
WhiteNoise
gunicorn
python-docx
azure-storage-blob
celery==5.2.7
redis==4.5.1
scipy==1.10.1
flower==1.2.0
pydub
moviepy
pympler
soundfile
pandas
pretty-html-table
pysrt
google-api-python-client
html2text